 		<script>
            $(function(){
                $("#sidebar > ul > li.active > a").click(function(){
                    $(this).addClass("a_chose");

                })
            })

        </script>

        <script src="__PUBLIC__/Admin/js/excanvas.min.js"></script>
        <script src="__PUBLIC__/Admin/js/jquery.ui.custom.js"></script>
        <script src="__PUBLIC__/Admin/js/bootstrap.min.js"></script>
       
        <script src="__PUBLIC__/Admin/js/jquery.peity.min.js"></script>
        <script src="__PUBLIC__/Admin/js/fullcalendar.min.js"></script>
        <script src="__PUBLIC__/Admin/js/unicorn.js"></script>
       


    </body>
</html>
