<include file="PUBLIC:header"/>
<include file="PUBLIC:menu"/>
<div id="content">
	<div id="breadcrumb">
		<a href="#" title="Go to Home" class="tip-bottom" style="font-size:14px;font-weight:bold"><i class="icon-home"></i> 首页</a>
		<a class="tip-bottom" href="#" data-original-title="">文章管理</a>
		<a class="current" href="#">文章列表</a>
	</div>

	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
				<div class="widget-box">
					<div class="widget-title">
						<span class="icon">
							<i class="icon-align-justify"></i>									
						</span>
						<h5>文章列表</h5>
					</div>
					<div class="widget-content nopadding">
						<table class="table table-bordered table-striped">
							<thead>
								<tr>
									<th>文章编号</th>
									<th>文章标题</th>
									<th>文章标签</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody>
							<volist name='list' id='vo'>
								<tr>
									<td>{$vo.id}</td>
									<td>{$vo.name}</td>
									<td>{$vo.publish}</td>
									<td><a href="">编辑</a> &nbsp;<a href="">删除</a> </td>
								</tr>

							</volist>	
							
							</tbody>

						</table>

					</div>
					{$page}				
				</div>						
			</div>
		</div>
	</div>	

</div>
<include file="PUBLIC:footer"/>
       